---
layout: page
title: "Customise & Personalise"
permalink: /customise-personalise/
---

{% assign base_path = site.baseurl | append: "/assets/customise-and-personalise" %}

<div>
  <div>Owning leather goods is amazing, but owning leather goods that are personalised exclusively for you is even better. Look at the example pictures description to figure out the name of the thread or edge finish method that’s been applied. Just pick the configuration you like the most or make your own out of options that are available and I will make it for you!</div>

  {% include customisation_option.html 
    leather="Tan" 
    thread="Radiant Yellow" 
    edge="Tan Edge Paint" 
    name="tan-radiant-yellow-saddle-tan-edge-paint" 
    pictureCount=2 
    base_path=base_path  %}

  {% include page_divider.html %}

  {% include customisation_option.html 
    leather="Light Brown" 
    thread="Radiant Yellow" 
    edge="Tan Edge Paint" 
    name="light-brown-radiant-yello-saddle-tan-edge-paint" 
    pictureCount=1
    base_path=base_path  %}

  {% include page_divider.html %}  

  {% include customisation_option.html 
    leather="Tan" 
    thread="Angora" 
    edge="Burnish" 
    name="tan-angora-burnish" 
    pictureCount=1
    base_path=base_path  %}

  {% include page_divider.html %}  

  {% include customisation_option.html 
    leather="Tan" 
    thread="Carmine Rose" 
    edge="Burnish" 
    name="tan-carmine-rose-burnish" 
    pictureCount=3
    base_path=base_path  %}

  {% include page_divider.html %}  

  {% include customisation_option.html 
    leather="Tan" 
    thread="Ginger Bread" 
    edge="Burnish" 
    name="tan-ginger-bread-burnish" 
    pictureCount=1
    base_path=base_path  %}

  {% include page_divider.html %}  

  {% include customisation_option.html 
    leather="Tan" 
    thread="Golden Ochre" 
    edge="Burnish" 
    name="tan-golden-ochre-burnish" 
    pictureCount=1
    base_path=base_path  %}

  {% include page_divider.html %}  

  {% include customisation_option.html 
    leather="Tan" 
    thread="Light Salmon" 
    edge="Burnish" 
    name="tan-light-salmon-burnish" 
    pictureCount=3
    base_path=base_path  %}

  {% include page_divider.html %}  

  {% include customisation_option.html 
    leather="Tan" 
    thread="Radiant Yellow" 
    edge="Burnish" 
    name="tan-radiant-yellow-burnish" 
    pictureCount=2
    base_path=base_path  %}

  {% include page_divider.html %}  

  {% include customisation_option.html 
    leather="Light Brown" 
    thread="Angora" 
    edge="Burnish" 
    name="light-brown-angora-burnish" 
    pictureCount=2
    base_path=base_path  %}

  {% include page_divider.html %}  

  {% include customisation_option.html 
    leather="Tan" 
    thread="Radiant Yellow" 
    edge="Hot-Waxed" 
    name="tan-radiant-yellow-hot-waxed" 
    pictureCount=1
    base_path=base_path  %}

  {% include page_divider.html %}  

  <div>I offer you the ability to make a decision on these parameters:</div>
  <ul>
    <li>
      <div>Edge finish</div>
      <ul>
          <li>Burnished</li>
          <li>Hot-waxed</li>
          <li>Painted (with some small restrictions)</li>
      </ul>
    </li>
    <li>Thread colour</li>
    <li>Leather colour</li>
  </ul>

  <h2>Edge finish</h2>
  <div>
      Choosing a proper edge finish is one of the most important step in personalisation because it affects the looks as well as the durability and overall character of the item.
  </div>
  <ul>
    <li>Burnished – The traditional method of finishing edges. Makes the edges have the color of the face side of leather with thin darker lines between sheets of leather. Not the most durable or elegant, but definitely close to nature.</li>
    <li>Hot-waxed – Another traditional method of finishing edges known for years. Beeswax is applied to the edges and heated up which makes it penetrate the leather where it solidifies and provides strength, water resistance and beautiful color, varying from light brown, through ruby down to brown. Great choice for people how like to feel the traditional touch in their pieces, very durable.</li>
    <li>Painted – Relatively modern technique which is about applying a special, elastic paint to the edge that covers the leather flesh and exposes only a beautiful, consistent, slightly shiny surface. Adds a bit of elegance to your item, very durable.</li>
  </ul>
  <h2>Thread colour</h2>
  <div>
      Well matched thread colour can compliment the edge finish and result in a proper ‘Wow-effect’. I can offer you the following colours at the moment:
  </div>
  <ul>
    <li>Radiant Yellow</li>
    <li>Angora</li>
    <li>Golden Ochre</li>
    <li>Ginger Bread</li>
    <li>Carmine Rose</li>
    <li>Salmon Rose</li>
  </ul>
  <h2>Leather colour</h2>
  <ul>
    <li>Tan – Natural, undyed leather. Provides the best softness, smell and feel to the leather.</li>
    <li>Hand dyed Light Brown – Because of the hand dyeing the leather looses some of its softness, smell and feel. I’d higly recommend dyeing only the outer shell of the piece to maintain balance between coloristic needs and feeling.</li>
  </ul>
</div>

<style>
  .row {
    display: flex;
  }

  .column-of-3 {
    flex: 33.33%;
    padding: 5px;
  }

  .column-of-2 {
    flex: 50.0%;
    padding: 5px;
  }

  .column-of-1 {
    flex: 100.0%;
    padding: 5px;
  }

  .customisation-option {
    margin-bottom: 30px;
  }

  .caption {
    text-align: center; 
    font-size: small;
  }
</style>
